* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.wallpaper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative
}

.wallpaper #demo2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    outline: none;
    color: white
}
#hos{
	font-weight:400;
	font-size:60px;
	margin-bottom:30px;
	color:#ffffff52;
}
.wallpaper input {
    width: 600px;
    outline: none;
    background: none;
    border:2px solid #ffffff17;
    margin-bottom:10px;
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
    display: block;
    line-height: 30px;
    list-style-type: none;
    padding:15px;
    padding-left:25px;
    border-radius:30px;
    text-decoration: none;
    transition:all 0.3s;
}
input::placeholder{
	color:#ffffff52;
}
.ws {
    margin-top: 20px;
    margin-left: 20px
}

.tis {
    margin-left: 20px
}

.tis2 {
    margin-left: 20px;
    margin-bottom: 40px
}
.wallpaper a {
	color:#42a750;
	border-radius:30px;
	box-shadow:0px 0px 25px rgba(0,0,0,0.4);
	text-decoration:none;
	background-color:#90909014;
	padding:17px 50px;
	font-size:22px;
	margin-top:20px;
}
.login-btns{
  display: flex;
}
.login-btns a:first-child{
  margin-right: 10px;
}
