@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin:0px;
  padding:0px;
  border:0px;
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
}
body{
  background-color: black;
}
body {
    width:100%;
    height:100vh;
    background-image: url("https://raw.githubusercontent.com/Littlenate2114/hos/tree/development/src/background.jpg");
    background-size:cover;
    background-position: center;
}
 h1{
  color:#ffffff99;
  font-weight: 300;
  font-size: 35px;
}
.time{
  width:100%;
  z-index:99999;
  position: absolute;
  bottom:0px;
  left: 0px;
  text-align: right;
  padding: 50px;
  box-sizing: border-box;
}
#msg{
  font-size:15px;
}